body {
    font-family: "Roboto", sans-serif;
    font-family: "Titillium Web", sans-serif;
}

.menu {
    background-color: rgb(206, 206, 206);
    text-align: center;
    width: 300px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.aktif a {
    background-color: rgb(58, 58, 58);
    color: white;
}

.aktif {
    background-color: rgb(58, 58, 58);
    color: white;
}